@import "tailwindcss";

@theme {
  --color-primary: #2196F3;
  --color-primary-dark: #1976D2;
  --color-primary-light: #BBDEFB;

  --color-severity-critical: #EF4444;
  --color-severity-high: #F97316;
  --color-severity-medium: #FACC15;
  --color-severity-low: #22C55E;

  --font-sans: "Inter", system-ui, sans-serif;
}


@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}